/* --- FONTES --- */
/* --- Open Sans e Roboto ---*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/* --- VARIÁVEIS --- */
:root {
    /* Tons escuros da cor principal */
    --cor-principal-1: hsl(205, 86%, 17%);
    --cor-principal-2: hsl(205, 77%, 27%);
    --cor-principal-3: hsl(205, 72%, 37%);
    --cor-principal-4: hsl(205, 63%, 48%);

    /* Cor principal */
    --cor-principal-5: hsl(205, 78%, 60%);

    /* Tons claros da cor principal */
    --cor-principal-6: hsl(205, 89%, 70%);
    --cor-principal-7: hsl(205, 90%, 76%);
    --cor-principal-8: hsl(205, 86%, 81%);
    --cor-principal-9: hsl(205, 90%, 88%);
    --cor-principal-10: hsl(205, 100%, 96%);

    /* Cinza mais escuro - usadas para os cabeçalhos */
    --cor-cinza-1: hsl(209, 61%, 16%);
    --cor-cinza-2: hsl(211, 39%, 23%);
    --cor-cinza-3: hsl(209, 34%, 30%);
    --cor-cinza-4: hsl(209, 28%, 39%);

    /* Cinza usado nos parágrafos */
    --cor-cinza-5: hsl(210, 22%, 49%);
    --cor-cinza-6: hsl(209, 23%, 60%);
    --cor-cinza-7: hsl(211, 27%, 70%);
    --cor-cinza-8: hsl(210, 31%, 80%);
    --cor-cinza-9: hsl(212, 33%, 89%);
    --cor-cinza-10: hsl(206, 33%, 96%);
    
    /* Demais cores */
    --cor-branca: $fff;
    --cor-vermelho-escuro: hsl(360, 67%, 44%);
    --cor-vermelho-claro: hsl(360, 71%, 66%);
    --cor-verde-escuro: hsl(125, 67%, 44%);
    --cor-verde-claro: hsl(125, 71%, 66%);

    /* Configurações de fonte */
    --ff-principal: "Roboto", sans-serif;
    --ff-secundaria: "Open Sans", sans-serif;

    /* Demais configurações */
    --transicao: all 0.3s linear;
    --espacamento: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --largura-maxima: 1170px;
    --largura-fixa: 620px;
}

/* --- ESTILO GLOBAL --- */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-secundaria);
    background: var(--cor-cinza-10);
    color: var(--cor-cinza-1);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    letter-spacing: var(--espacamento);
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-principal);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
    color: var(--cor-cinza-5);
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1rem;
    }

    body {
        font-size: 1rem;
    }

    h1, h2, h3, h4 {
        line-height: 1;
    }
}

/* --- Classes GLOBAIS --- */

/* section */
.section {
    padding: 5rem 0;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}

@media screen and (min-width: 992px) {
    .section-center {
        width: 95vw;
    }
}

/* --- REVIEWS --- */
main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

div.titulo {
    text-align: center;
    margin-bottom: 4rem;
}

div.underline {
    height: 0.25rem;
    width: 5rem;
    background: var(--cor-principal-5);
    margin: auto;
}

section.container {
    width: 80vw;
    max-width: var(--largura-fixa);
}

div.review {
    background: var(--cor-branca);
    padding: 1.5rem 2rem;
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    transition: var(--transicao);
    text-align: center;
}

div.review:hover {
    box-shadow: var(--dark-shadow);
}

div.img-container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
}

img.img-pessoa {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

div.img-container::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f10e";
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transform: translateY(25%);
    background: var(--cor-principal-5);
    color: white;
}

div.img-container::before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--cor-principal-5);
    position: absolute;
    top: -0.25rem;
    right: -0.4rem;
    border-radius: 50%;
}

h2.autor {
    margin-bottom: 0.25rem;
}

p.profissao {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: var(--cor-principal-5);
    font-size: 0.85rem;
}

p.info {
    margin-bottom: 0.75rem;
}

.btn-ant, .btn-prox {
    color: var(--cor-principal-7);
    font-size: 1.25rem;
    background: transparent;
    border: none;
    margin: 0, 0.5rem;
    padding-right: 10px;
    padding-left: 10px;
    transition: var(--transicao);
    cursor: pointer;
}

.btn-ant:hover, .btn-prox:hover {
    color: var(--cor-primaria-5);
}

.btn-aleatorio {
    margin-top: 0.5rem;
    background: var(--cor-primaria-10);
    color: #49A6E9;
    padding: 0.25rem 0.5rem;
    text-transform: capitalize;
    border-radius: 20px;
    transition: var(--transicao);
    border-color: var(--cor-principal-5);
    cursor: pointer;
}